/*Обнуление*/
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,
body {
	height: 100%;
}

/*----------------*/

body {
  background-color: #18181c;
  color: #e6e6ea;
  font: normal 1.25rem sans-serif; /*20 px*/
  /*color: #24baff;*/
}

main {
  display: grid;
  grid-template-areas: 
    "head head head"
    "side content content2"
    "foot foot foot";
    grid-template-columns: 20% 60% 20% ;

}

.headerContent {
  grid-area: head;
  min-height: 17em; /* 340 px*/

  display: grid;
  grid-template-columns: 5% repeat(8, 1fr);
  grid-template-rows: 3em 8em 3em; /*80 px*/
  grid-column-gap: 0.8rem; 
  grid-row-gap: 0.8rem;
  align-items: center;
  justify-items: center;

  
  margin: 1.5rem 1.5rem /*24 px*/
}

.headerContent .btn, .search {
max-height: 70%;
}

.btn {
  background:#18181c  ;
  color:#96969a;
  border-radius: 0.6em;
  border: none;
  height: 55%;
  width: 50%;
  font-size: 0.8em; /*16 px*/
  font-weight: 600;
}

.btn:hover {
  color:#e6e6ea;
  text-decoration: underline #24baff ;
  cursor: pointer;
  transition: 0.5s;
}

#signIn {
  background: #303034;
  color: #e6e6ea;
  font-weight: 600;
  transition: 0.5s;
  justify-self: end;
}

#signUp {
  background: #24baff;
  color:#18181c;
  font-weight: 600;
  transition: 0.5s;
  justify-self: end;
}

#cart {
  justify-self: end;
}
#signIn:hover {
  background: #424247;
  text-decoration: none;
}

#signUp:hover {
  background: #45c4ff;
  text-decoration: none;
}

#headerPic {
  max-width: 80%;
  border-radius: 1rem;
}

.search {
  border-radius: 20px;
  border: none;
  width: 150%;
  justify-self: start;
}

.news {
  grid-column-start: 1;
  grid-column-end: 10;
  min-width: 100%;
  min-height: 100%;
}

.news .Theme {
  width: 19%;
  height: 8em;
  float: left;
  background-image: url(9.jpg);
  color:#e6e6ea ;
  border-radius: 20px;
  transition: 0.5s;
  margin: 0 0.5rem;
}

.news .Theme h2 {
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);

  font-weight: 600;
  text-shadow: #101014 2px 2px 2px;
 
}

.Theme h2:hover {
  color: #24baff;
  cursor: pointer;
  font-size: larger;
}


.sectionContent {
  grid-area: content;
  background-color: #101014;
  padding: 0.6em 0.8em;
  border-radius: 0.6em;
}

h1 {
  font-weight: 600;
  font-size: 1.2em;
  margin: 0.2em 0 0.4em 0;

}


article {
  background-color: #303034;
  border-radius: 0.6em;
  padding: 0.4em 0.6em;

}

video {
  border-radius: 0.6em;
  max-width: 80%;
  margin: 0 10%;
}

audio {
width: 30%;
max-height: 1em;
margin: 0 35%;
}

.captions {
  background-color: #101014;
  border-radius: 0.6em;
  font-size: 0.8em;
  color: #96969a;
  width: 80%;
  margin: 0.5em 10% 0.5em ;
  height: auto;
  padding: 0.4em;
}


.asideContent {
grid-area: side;
margin: 0 1.4em;
background-color: #101014;
padding: 1em;
border-radius: 0.6em;
max-height: 100%;
}

.asideWrap {
  max-width: 100%;
  overflow: hidden;
}

.SideBtn:hover {
  color:#24baff;
  cursor: pointer;
} 

.footerContent {
  grid-area: foot;
  max-width: 90%;
  height: auto;
  margin: 1.4em 5% 200px 5%;
  background-color: #101014;
  padding: 0.8em 0.6em;
  border-radius: 0.6em;
}

.footerContent img {
  float: left ;
  border-radius: 1em;
  width: 20%;
  padding: 0.3rem;
}


.footerContent img:hover {
padding: 0.2rem;
cursor: pointer;
transition: 0.1s;
}

address {
position: relative;
text-align: center;
 
}

address a {
  text-decoration: none;
  color: #96969a;
}

address a:hover {
  color: #e6e6ea;
  cursor: pointer;
  transition: 0.5s;
}

.SideBtn {
  background:#18181c  ;
  color:#e6e6ea;
  border-radius: 12px;
  border: none;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0.4rem;
  margin-left: 0rem;
  transition: 0.5s;
}

.genreMenu {
  background: #303034;
  color:#e6e6ea;
  border-radius: 0.6em;
  border: none;
  height: 80%;
  width: 100%;
  font-size: 1em;
  font-weight: 600;
  transition: 0.2s;
  margin-left: 1em;
}

.genreMenu:hover {
  background: #424247;
  cursor: pointer;
}

.subMenu {
  background: #303034;
  border-radius: 0.6em;
  height: 40rem;
  width: 20%;
  display: block;
  position: absolute;
  transform: translate(-160%, 62%);
}

.subBtn {
  height: 10%;
  width: 80%;
  margin: 10% 10%;
  background-color: #45c4ff;
}